.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-weight-700 {
    font-weight: 700;
}

.display-flex {
    display: flex;
}

.content-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.gap-30 {
    gap: 30px;
}

.gap-35 {
    gap: 35px;
}

.gap-40 {
    gap: 40px;
}

.margin-0 {
    margin: 0;
}

.margin-botton-30 {
    margin-bottom: 30px;
}

.fa-solid {
    color: var(--main-color);
}

.nowrap-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nowrap {
    white-space: nowrap;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .tablette-flex-column {
        flex-direction: column;
    }

    .tablette-width-auto {
        width: auto;
    }
    /* Small devices (phones, less than 768px) */
    @media (max-width: 767.98px) {
        .mobile-display-flex {
            display: flex;
        }

        .mobile-space-between {
            justify-content: space-between;
        }

        .mobile-flex-column {
            flex-direction: column!important;
        }

        .mobile-width-100 {
            width: 100%!important;
        }

        .mobile-padding-0 {
            padding: 0!important;
        }

        .mobile-gap-15 {
            gap: 15px;
        }
    }
}