/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-weight-700 {
    font-weight: 700;
}

.display-flex {
    display: flex;
}

.content-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.gap-30 {
    gap: 30px;
}

.gap-35 {
    gap: 35px;
}

.margin-0 {
    margin: 0;
}

.margin-botton-30 {
    margin-bottom: 30px;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    max-width: 1440px;
    padding: 0 50px;
}

h1 {
    margin: 0px 0px 8px 0px;
}

/***** Header + nav **********/
.logo {
    margin: 30px 0px;
}

nav ul {
    list-style-type: none;
    gap: 68px;
}

nav li {
    padding: 16px 0px 0px 0px;
}

nav li:hover {
    padding: 14px 0px 0px 0px;
    border-top: 2px solid #0065FC;
    color: #0065FC
}

/***** rechercher *********/
.rechercher i {
    padding: 24px 17.5px 24px 17.5px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: black;
}

.rechercher input {
    width: 155px;
    border: 1px solid #F2F2F2;
    border-width: 1px 0px 1px 0px;
    padding: 12px 20px 12px 20px;
}

.buttonRechercher button {
    height: 49px;
    border: none;
    color:white;
    background-color: #0065FC;
    padding: 0 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.buttonRechercher i {
    color: white;
    display: none;
}

/***** filtres ********/
.filtres,
.filtres-btn {
    gap: 15px;
}

.filtres a {
    height: 50px;
    padding: 0px 19px 0px 19px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.filtres a:hover {
    background-color: #DEEBFF;
}

.filtres p {
    font-size: 17px;
}

.nbLogements i {
    padding: 11px 9px 11px 9px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}

/***** general ********/
a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 0px;
}

.hebergements-cards .card {
    gap: 9px;
}


.hebergements-cards .card-content {
    padding: 0 10px;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-subtitle {
    font-size: 14px;
    margin: 8px 0px;
}

.hebergements-cards .card-rating {
    font-size: 1.2em;
}

.card-rating {
    margin-bottom: 5px;
    letter-spacing: -0.1em;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-cards .card {
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    font-size: 14px;
}

/***** activites ***********/
.activites {
    padding: 30px;
}

.activites-cards a {
    flex: 1;
}

.activites-cards img {
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card {
    padding: 0px;
}

.activites-cards h3 {
    min-height: 59px;
    padding-left: 19px;
}

/****** Footer *********/
footer {
    background-color: var(--main-bg-color);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer ul {
    margin-top: 0;
    list-style-type: none;
    gap: 15px;
    padding: 0px;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .tablette-flex-column {
        flex-direction: column;
    }

    .tablette-width-auto {
        width: auto;
    }

    .filtres {
        align-items: flex-start;
        gap: 20px;
    }

    .populaires {
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards .card {
        height: 270px;
    }

    .activites-cards img {
        height: 200px;
    }
    .activites-cards h3 {
        min-height: 70px;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
.mobile-display-flex {
    display: flex;
}

.mobile-space-between {
    justify-content: space-between;
}

.mobile-flex-column {
    flex-direction: column;
}

.mobile-width-100 {
    width: 100%!important;
}

.mobile-padding-0 {
    padding: 0!important;
}

header {
    align-items: center;
}

nav ul{
    display: grid!important;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    text-align: center;
}

nav li {
    border-bottom: 2px solid #F2F2F2;
}

nav li:hover {
    padding: 0;
    border-top: none;
    border-bottom: 2px solid #0065FC;
}

nav a {
    padding: 0px 0px 16px 0px;
    display: block;
}

/***** rechercher filtres ********/
.rechercher-filtres {
    margin: 0px 20px 0px 20px;
}

.rechercher input {
    width: 100%;
    text-align: start;
    padding: 0px 20px 0px 20px;
    margin-right: -12px;
}

.buttonRechercher .liens-importants{
    font-size: 0px;
    border-radius: 15px;
    padding: 13px 15px 13px 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
}

.buttonRechercher i {
    font-size: 18px;
    display: block;
}

.filtres-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filtres a {
    justify-content: center;
}

/***** hebergement et populaires ********/
.hebergements-and-populaires {
    flex-direction: column-reverse;
    gap: 15px;
}

.populaires {
    margin: 0px;
}

.hebergements-and-populaires section {
    border-radius: 0;
    padding: 30px 20px 30px 20px;
}

.hebergements-and-populaires section.hebergements {
    background-color: white;
}

/***** activité et footer *********/

footer {
    gap: 50px;
    padding: 30px;
}
}
}